.naruto{
    margin-top: 10px;
}
h4{
    margin: 10px 0 0;
}
#old{
    width: 50%;
    font-size: 120%;
}
#money {
    width: 50%;
    font-size: 120%;
}
td{ vertical-align: top;
    width: 25%;
}
.hinata{
    background-color: #fff;
}

