body{
background-color: aqua;
}
table{
    background-color: white;
    text-align: left;
}
.nghia{
    text-align: center;
    color: white;
    background-color: red;
}
.nghia1{
    color: blue;
}
th{
    color: orange;
}